doctype html
html
  head
    title Insta for Zombies
    != css('main')
  body
    #app.container
      block content
    != js('main')
    script.
      App.zombies = new App.Collections.Zombies(!{zombies})
